<div class="center">
  <h1>And the answer is...</h1>
</div>

<div class="card border-0 text-center">
  <div class="card-body border">
  <br>
  <br>
    <p class="card-title">"<%= @ask_display %>" </p>
    <br>
    <br>
    <br>
    <h5 class="card-text"><%= @answer %> </h5>
    <%= link_to "Back to Ask..", ask_path, class: "btn btn-success" %>
  </div>
</div>
